* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    background-color: hsl(180, 100%, 30%);
    color: white;
}

/* all images */
img {
    width: 20%;
    height: auto;
    border-radius: 2.5px;
}

/* intro section */
#title {
    font-size: 6rem;
    /* background: red; */
}

#image {
    width: 50%;
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

#img-caption {
    font-size: 1.4rem;
}

/* tribute-info */
#tribute-info {
    background: #353935;/*onyx*/
    width: 95%;
    margin: 10px auto;
    padding: 10px 0px;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0px;
}

/* order1 */
.order1 img{
    order: 1;
}
.order1 p {
    order: 2;
}

/* order2 */
.order2 img{
    order: 2;
}
.order2 p {
    order: 1;
}


.panel-description {
    width: 35%;
    text-align: left;
    margin: 0px 10px 0px 10px;
}

/* conclusion */
#conclusion-description {
    width: 45%;
    margin: 20px auto;
    text-align: left;
}

#conclusion div {
    background: #353935;
    padding: 20px 0px;
}

#conclusion-gif {
    width: 50%;
}

#quote {
    font-style: italic;
}

/* tribute-link */
#link {
    padding: 10px 0px;
}

a {
    text-decoration: none;
}

@media (max-width: 460px) {

    #title {
        font-size: 3rem;
        text-align: center;
    }

    #img-caption {
        font-size: 1.4rem;
    }
    /* all images */
    img {
        width: 50%;
        margin-bottom: 10px;
    }

    #image {
        width: 90%;
        margin-bottom: 0;
    }

    .panel {
        display: flex;
        flex-direction: column;
    }

    .panel-description {
        width: 60%;
    }

    .panel .panel-img {
        order: 1;
    }

    .panel .panel-description {
        order: 2;
    }

    /* conclusion */
    #conclusion-description {
        width: 69%;
    }

    #conclusion-gif {
        width: 80%;
    }

    #recommendation {
        width: 80%;
        margin: 0px auto;
        font-size: 1.8rem;
    }
}